<div class="container">

    <!-- Titulo -->
    <div class="row">
        <div class="col-24 col-md-6 d-flex justify-content-left my-4">
            <h1>{{ book.name }}</h1>
        </div>
    </div>

    <!-- Imagen y descripciónm / información del precio  -->
    <!-- <div class="row"> -->

    <!-- Imagen -->
    <div class="row">
        <div class="col-12 col-md-5 d-flex justify-content-left">
            <img [src]="book.cover" alt="" class="img-fluid mx-auto">            
        </div>
        <!-- Resumen -->
        <div class="col-12 col-md-6 d-flex flex-column">
            <p>{{ book.description}}</p>

            <div class="col-12 col-md-6 d-flex align-items-end">
                <div class="row">
                    <h6 class="text-info">{{ book.unitValue  | currency}}</h6>
                </div>
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cantidad</span>
                </div>
                <div class="input1 col-xs-2">
                    <input type="number" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="d-flex justify-content-between" id="flex2">
                <div class="p-2 my-3">
                    <h5 class="text-info">Total {{ book.unitValue | currency }}</h5>
                </div>
                <div class="p-2">
                    <button class="btn btn-primary"><i class="fas fa-cart-arrow-down mr-1"></i> Añadir al
                        Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>